#Online Retail Data Cleaning & Analysis

In [1]:
import pandas as pd
import numpy as np

In [4]:
data1 = pd.read_csv("online_retail.csv")

In [6]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB

In [8]:
data1.describe()

           Quantity         Price    Customer ID
count  1.067371e+06  1.067371e+06  824364.000000
mean   9.938898e+00  4.649388e+00   15324.638504
std    1.727058e+02  1.235531e+02    1697.464450
min   -8.099500e+04 -5.359436e+04   12346.000000
25%    1.000000e+00  1.250000e+00   13975.000000
50%    3.000000e+00  2.100000e+00   15255.000000
75%    1.000000e+01  4.150000e+00   16797.000000
max    8.099500e+04  3.897000e+04   18287.000000

In [9]:
data1.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [11]:
#check how many missing 
print(data1['Customer ID'].isnull().sum())

243007

In [12]:
#drop rows with missing customer_ID
data1 = data1.dropna(subset=['Customer ID'])

In [13]:
#2.drop missing description
data1 = data1.dropna(subset=['Description'])

In [14]:
#3.Convert InvoiceDate to datetime
data1['InvoiceDate'] = pd.to_datetime(data1['InvoiceDate'])

In [18]:
#4. Filter Cancelled Invoices(Starting with 'c')
data1 = data1[~data1['Invoice'].astype(str).str.startswith('C')]

In [20]:
#5. Remove Negative or Zero Quantity / Price
data1 = data1[(data1['Quantity'] > 0) & (data1['Price'] > 0)]

In [21]:
#6.Strip and Lowercase Text in Description
data1['Description'] = data1['Description'].str.strip().str.lower()

In [22]:
#7 Convert Customer ID to Integer
data1['Customer ID'] = data1['Customer ID'].astype(int)

In [23]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 805549 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      805549 non-null  object
 1   StockCode    805549 non-null  object
 2   Description  805549 non-null  object
 3   Quantity     805549 non-null  int64
 4   InvoiceDate  805549 non-null  datetime64[ns]
 5   Price        805549 non-null  float64
 6   Customer ID  805549 non-null  int64
 7   Country      805549 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 55.3+ MB